<div *ngIf = "!showStats" class="container">
  <div class="list-align">
    <div *ngFor="let pokemon of pokemons index as i" >

  
      <div class="card card-align">
        <div class="card-body">
        	<i class="material-icons" *ngIf="!pokemon.fav" (click)="toggleFav(pokemon)">favorite_border</i> 
        	<i class="material-icons" *ngIf="pokemon.fav" (click)="toggleFav(pokemon)">favorite</i>
          <h5 class="card-title">{{pokemon.name| titlecase}}</h5>
          <img *ngIf="i < 9" src="http://assets.pokemon.com/assets/cms2/img/pokedex/full/00{{i+1}}.png"/>
          <img *ngIf="i >= 9" src="http://assets.pokemon.com/assets/cms2/img/pokedex/full/0{{i+1}}.png"/>
          <button class="btn btn-primary" (click)="getStats(pokemon)">Stats</button>
        </div>
      </div> 


    </div>
  </div>
</div>

<app-stats *ngIf="showStats"></app-stats>

