<div class="full-background">
<div class="container" *ngIf="!showCompare">
	
<div class="row">

	<div class="col-sm-6 list">
		<div *ngFor="let pokemon of pokemons index as i" (cdkDropListDropped)="drop($event)">
			<div class="card card-align " cdkDrag (cdkDragEnded)="dragEnd($event,pokemon)" >
		        <div class="card-body">
		        	<h5 class="card-title">{{pokemon.name| titlecase}}</h5>
		          <img class="img-layout" *ngIf="i < 9" src="http://assets.pokemon.com/assets/cms2/img/pokedex/full/00{{i+1}}.png"/>
		          <img class="img-layout" *ngIf="i >= 9" src="http://assets.pokemon.com/assets/cms2/img/pokedex/full/0{{i+1}}.png"/>
		        </div>
	      </div> 
		</div>
	</div>

	<div class="col-sm-6 compare-box border" cdkDrop (cdkDropDropped)="dropped($event)">
		<div class="row box-title">
		 <h5>Drag and drop 2 pokemons to compare</h5>
		</div>
		<div class="row box ">
		 	<div class="col-sm-6 card">
		 		
		 	</div>
		 	<div class="col-sm-6 card">
		 		
		 	</div>

		</div>
		<button class="btn btn-lg btn-block btn-outline-warning" (click)="compareStats()">Compare</button>
	</div>

</div>
</div>

<div class="compare-layout" *ngIf="showCompare">
	<div class="row">
		<div class="col-sm-6">
		
			<div class="card " >
		        <div class="card-body">
		        	<h5 class="card-title">{{(pokemonData1.name| titlecase)}}</h5>
		          <img *ngIf= "pokemonData1.id<= 9" class="img-align" src="http://assets.pokemon.com/assets/cms2/img/pokedex/full/00{{pokemonData1.id}}.png" />
		          <img *ngIf= "pokemonData1.id>9"class="img-align" src="http://assets.pokemon.com/assets/cms2/img/pokedex/full/0{{pokemonData1.id}}.png" />
		          <h5 class="card-title">{{pokemonData1.name| titlecase}}</h5>
		          <img *ngIf= "pokemonData2.id<= 9" class="img-align" src="http://assets.pokemon.com/assets/cms2/img/pokedex/full/00{{pokemonData2.id}}.png" />
		          <img *ngIf= "pokemonData2.id> 9" class="img-align" src="http://assets.pokemon.com/assets/cms2/img/pokedex/full/0{{pokemonData2.id}}.png" />
		        </div>
	      </div> 
		
	</div>
	<div class="col-sm-6 stats-background" >
		
		 <h5>Height</h5>
		 <div style="display: block">
  			<canvas id="hCanvas">{{ barHeightChart }}</canvas>
 		 </div>
		
		<h5>Weight</h5>
		<div style="display: block">
  			<canvas id="wCanvas">{{ barWeightChart }}</canvas>
  		</div>
		
		
	</div>
	</div>
</div>
</div>